@model Shop_Web.Database.User

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="quanly" style="text-align: center; font-size: 40px ; font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif'">Xóa người dùng</div>
<hr />

<div class="quanly" style="margin-left:20px;color:red; font-size: 32px ; font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif'">Are you sure you want to delete this?</div>
<hr />
<div class="delete" style="margin-left:50px">
    <div class="col-md-12">
        <div class="row">



            <div class="col-md-10">
                <dl class="table table-bordered">
                    <div class="edits">
                        <dt>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>
                        <hr />
                        <dt>
                            @Html.DisplayNameFor(model => model.LastName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LastName)
                        </dd>
                        <hr />
                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <hr />
                        <dt>
                            @Html.DisplayNameFor(model => model.Password)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Password)
                        </dd>
                        <hr />
                        <dt>
                            @Html.DisplayNameFor(model => model.IsAdmin)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.IsAdmin)
                        </dd>

</dl>
            </div>
            </dl>
        </div>
        <p>
            @using (Html.BeginForm("Delete", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="col-md-offset-5 col-md-10">
                    <button type="button" class="btn btn-outline-primary" data-mdb-ripple-color="dark">@Html.ActionLink("Back to List", "Index")</button>
                    <input type="submit" value="Delete" class="btn btn-outline-success" />

                </div>
            }
        </p>
    </div>
    <style>
        .edits {
            margin-left: 50px
        }
    </style>
